@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web app will enable the browser user to view and create "phone" objects. 
   This is written by Woodson Delhia. Woodson is a Seneca student in the Bachelor of Software Development Degree program</p
