@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Seneca BSD student<br />
    Toronto, Ontario<br />
    <abbr title="Phone">P:</abbr>
    416.555.0100
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:wdelhia@myseneca.ca">wdelhia@myseneca.ca</a>
</address>